*{
	font-family: "sans-serif;", monospace;
	font-size: 10px;
}

p{
	font-style: normal !important;
}

h1{
	font-size: 1.5rem;
}

#description{
	text-transform: uppercase;
}

.language{
	background-color: skyblue;
}

/*Number 10*/


img + ul{
    list-style-type:none;
}

#others img{
	height: 200px;
	width: 200px; 
	border-radius: 100px;
}

ul ~ p {
    text-align: center;
}

section > ul{
	letter-spacing: 25px;
}

